* {
    font-family: 'Times New Roman', Times, serif;
}

/* .yolo {
    background-color: yellow;
    font-weight: bold;
} */

table, th, td {
    border:1px solid black;
}

#problems {
    padding: 20px;
}

.navbar {
    padding: 10px;
}

#output {
    padding: 20px;
}